:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #212529;
  color: #f8f9fa;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
