<section class="vh-100 bg-light">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Log In</h3>

              <form id="login-form">
                <div class="form-outline mb-2">
                  <input type="email" id="email-login" class="form-control form-control-lg" />
                  <label class="form-label" for="email-login">Email</label>
                </div>
              
                <div class="form-outline mb-2">
                  <input type="password" id="password-login" class="form-control form-control-lg" />
                  <label class="form-label" for="password-login">Password</label>
                </div>
    
                <button class="btn btn-primary btn-lg btn-block" type="submit">Log In</button>
              </form>
              <hr class="my-4">
  
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
    
                <h3 class="mb-5">Sign Up</h3>

                <form id="signup-form">
                  <div class="form-outline mb-2">
                    <input type="username" id="username-signup" class="form-control form-control-lg" />
                    <label class="form-label" for="username-signup">User Name</label>
                  </div>
      
                  <div class="form-outline mb-2">
                    <input type="email" id="email-signup" class="form-control form-control-lg" />
                    <label class="form-label" for="email-signup">Email</label>
                  </div>
      
                  <div class="form-outline mb-2">
                    <input type="password" id="password-signup" class="form-control form-control-lg" />
                    <label class="form-label" for="password-signup">Password</label>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Sign Up</button>
                </form>
                <hr class="my-4">
    
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<script src="/js/login.js"></script>

