*{
  padding: 10;
  font-family: 'Times New Roman', Times, serif
}

h1 {
  margin: 10px;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

figure {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  width: 20rem;
}

img {
  max-width: 200pt;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px red;
}
