main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 15px;
  margin-left: 100px;
}

.column {
  float: left;
  margin-top: 100px;
}
.card-body {
  background-color: rgb(128, 128, 128);
  max-width: 300px;
  cursor: pointer;
}
.card-body:hover {
  box-shadow: 0 0 10px gold;
}

img {
  border-radius: 7px;
  cursor: pointer;
}

img:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px gold;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
